 
<h1>Chi Siamo</h1>
<p>Siamo un team di persone che studiano Rails</p>

<%=  bar_chart(a:3, b:6, c:3) %>


<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Age</th>
    <th colspan=3> </th>
  </tr>
  </thead>
</table>
